.modal {
  padding-top: 80px !important;
}
.modal-content {
  border-top-color: #fff !important;
}
.modal-header {
  border-bottom: none !important;
  padding-left: 48px !important;
  padding-top: 48px !important;
}
.modal-footer {
  border-top: none !important;
}

.forgotHeader {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #383838;
}

.emailAddress {
  margin-left: 32px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #acacac;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 24px;
  padding-right: 200px;
  background: #f5f4f5;
  border: none;
  outline: none;
}
.forgotBtn {
  padding: 8px 16px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: black;
  outline: none;
  border: none;
}

.modalBody {
  margin-left: 32px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #383838;
}
