// media aliases and breakpoints
$screen-xs-min: 300px;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
$screen-xl-max: 5000px;

// Mobile device
@mixin xsl {
  @media screen and (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

// Tablets
@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Laptops
@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// !Common Mixing's

//?FORM LABELS
@mixin formLabels {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  font-size: 1rem;
  text-transform: capitalize;
  color: $primary-color-2;
}

// ?INPUT LABELS
@mixin inputLabelStyle {
  font-family: $base-font-family;
  font-size: 1rem;
  color: $primary-color-4;
  background: $primary-color-5;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  outline: none;
  border: none;
}

//? MODAL FORM SUBMIT BUTTON
@mixin formSubmitCtaBtn {
  background: $primary-color-2;
  font-family: $base-font-family;
  color: $secondary-color-1;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.125rem;
  outline: none;
  border: none;
  text-transform: capitalize;
}

//? MODAL TITLE
@mixin modalTitle {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.625rem;
  text-transform: capitalize;
}
