// @import "./reset";
@import "./theme";
@import "./text";
@import "./mixin";

// pages

@import "./pages/Login/login.scss";
@import "./pages/Login/signup.scss";
@import "./pages/Login/verification.scss";
@import "./pages/Vehicle/VehicleApplication.scss";
@import "./pages/Vehicle/Sidebar.scss";
@import "./pages/Home/Home.scss";
@import "./pages/merchandise/merchandise.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: "Red Hat Display";
}

.d-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

tr > td {
  padding: 1.5rem 0 1.5rem 2rem !important ;
}

tr > .tableTd {
  padding-top: 1.5rem !important;
  padding-left: 0 !important;
  padding-bottom: 1rem !important;
}

.navbarContainer {
  margin: 1.5625rem 0;
  display: flex;
  gap: 2rem;
}

@include sm {
  .navbarContainer {
    // justify-content: space-between;
  }
}

@include sm {
  .TableInfo {
    width: 90% !important;
  }
}

@include xs {
  .TableInfo {
    width: 90% !important;
  }
}

@include xsl {
  .TableInfo {
    width: 90% !important;
  }
}

.vehicleFull {
  width: 100%;
  margin: 0 5.0625rem;
}

.subHeadingButton {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.18rem;
}
@include xs {
  .subHeadingButton {
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 18px !important;
    }
  }
}

@include sm {
  .subHeadingButton {
    gap: 1rem;
    width: 90% !important;
    font-size: 18px !important;
  }
}

@include xsl {
  .vehicleFull {
    margin: 0 auto;
  }
}

@include xs {
  .vehicleFull {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }
}

@include sm {
  .vehicleFull {
    margin: 0 auto;
  }
}

.TableTr {
  display: flex;
  justify-content: space-between;
}

@include xs {
  .TableTr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include sm {
  .TableTr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include sm {
  .formData {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@include xs {
  .formData {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

tr > th {
  padding-top: 1.625rem !important;
  padding-bottom: 1.5rem !important;
  padding-left: 3.625rem !important;
}

// !Selecting
td:nth-last-child(-n + 1) {
  color: green !important;
}

.table {
  border-color: #d4d4d4 !important;
}

.navbar {
  margin-bottom: 2.5625rem;
  font-size: 18px;
  line-height: 160%;
  color: #191919;
  // &:hover {
  //   font-family: Red Hat Display;
  //   font-style: normal;
  //   font-weight: bold;
  //   font-size: 19px;
  //   line-height: 160%;
  //   text-transform: capitalize;
  //   color: #191919;
  // }
}

.navbarTop {
  // margin-top: 5.0625rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100%;
}

@include sm {
  .navbarTop {
    margin: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
}

@include xs {
  .navbarTop {
    margin: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
}

.navbarTopHeading {
  margin-bottom: 3.8125rem;
  margin-top: 5.0625rem;
}

.actionButtons {
  margin-top: 80px;
  gap: 1.5rem;
}

// !Styles for ScrollBar

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 20px;
  border: 3px solid #d5d5d5;
}

.inputGaping {
  display: grid;
  gap: 1rem;
}

.inputModalStyles {
  border: none;
  outline: none;
  background-color: #e5e5e5;
  border-bottom: 1px solid #191919;
  width: 100%;
  margin-top: 1rem;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #191919;
}

.inputModalStylesBtn {
  margin: 2rem 0;
  width: 100%;
}

.modalFormLabels {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #191919;
}

.clearBtn {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #d20000;
  overflow: none;
  border: none;
}

.mainAddBtn {
  padding: 0.5rem 1.25rem;
  height: max-content;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  // font-size: 20px;
  font-size: 1rem;

  line-height: 160%;
  color: #ffffff;
  background-color: #191919;
  outline: none;
  border: none;
}

@include xs {
  .mainAddBtn {
    margin: 1rem 0;
  }
}

figure {
  margin: 0 !important;
}

// ! SideBar Routing ClassNames UnActive Link
.navlink {
  text-decoration: none;
  color: #191919;

  &:hover {
    list-style: none;
    color: #191919;
  }
}

// !Active Link
.activeLink {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  text-decoration: none;
}

// !Navbar Classes
.navlinkUnactive {
  text-decoration: none;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #191919;

  &:hover {
    list-style: none;
    color: #191919;
  }
}

@include xs {
  .navlinkUnactive {
    font-size: 1.1rem;
  }
}

@include sm {
  .navlinkUnactive {
    font-size: 1.1rem;
  }
}

.navlinkUnactiveRecentPublication {
  text-decoration: none;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #191919;

  &:hover {
    list-style: none;
    color: #191919;
  }
}

@include xs {
  .navlinkUnactiveRecentPublication {
    max-width: min-content;
    font-size: 1.1rem;
  }
}

@include sm {
  .navlinkUnactiveRecentPublication {
    max-width: min-content;
    font-size: 1.1rem;
  }
}

// !navbarActive
.navbaractive {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  text-transform: capitalize;
  color: #191919;
}

@include xs {
  .navbaractive {
    font-size: 1.1rem;
    width: max-content;
  }
}

@include sm {
  .navbaractive {
    font-size: 1.1rem;
    width: max-content;
  }
}

.navbaractiveRecentPublication {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  text-transform: capitalize;
  color: #191919;
}

@include xs {
  .navbaractiveRecentPublication {
    font-size: 1.1rem;
    width: min-content;
  }
}

@include sm {
  .navbaractiveRecentPublication {
    font-size: 1.1rem;
    width: min-content;
  }
}

// !AddForm Common Classes
.addform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e5e5e5;
}

@include xs {
  .addform {
    font-size: 1.1rem;
  }
}

@include sm {
  .addform {
    font-size: 1.1rem;
  }
}

.addFormWidth {
  width: 600px;
}

@include xs {
  .addFormWidth {
    width: 300px;
  }
}

@include sm {
  .addFormWidth {
    width: 500px;
  }
}

.addformInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

// !Gallery List

.gallery_list {
  display: grid;
  // margin: 0 147px;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 47px;
}

.gallery_list .gallery_item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  /* padding-left: 300px; */
}

.vehicleTableData {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tableData {
  font-weight: 500;
  color: #000000;
}

.tableHeading {
  color: #acacac;
}

.hrLine {
  // color: #d5d5d5;
  // border-width: 1px;
}

.buttonStyle {
  background-color: white;
  border: 1px solid #acacac;
  color: #acacac;
  padding: 0.5rem;
}
.VehicleHead {
  font-weight: 900;
  margin: 0 1rem;
}

.addBrandNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.18rem;
}

@include xs {
  .addBrandNav {
    flex-direction: column;
  }
}
